:root {
    --primary_color: 247,68,46;
    --separate_color: 255, 255, 255, 0.3;
    --greyish_color: 206, 203, 203;
    --gray_color: rgb(110, 102, 102);
    --mall_color: rgb(208, 1, 27);
    --sale_color: rgba(255,212,36,.9);

    --height-header: 12rem;
    --margin-header_item: 8px;
    --width-content_sale: 3.6rem;
    --height-content_header: 6rem;
    --size-content_heading: 1.7rem;
}



* {
    box-sizing: inherit;    /* inherit from html tag */
}



html {
    font-size: 62.5%;   /* 1rem = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}



.grid {
    width: 120rem;
    max-width: 100%;    /* width < 1200px */
    margin: 0 auto;     /* central align */
}

/* .grid__full-width {
    width: 100%;
} */

/* .grid__row {
    display: flex;
    flex-wrap: wrap;
} */



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popup_appear {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}