/* ---------------------------- HEADER ---------------------------- */
.header {
    height: 12rem;
    background-image: linear-gradient(rgba(var(--primary_color)), rgba(var(--primary_color), 0.85));
}



.header__navbar {
    display: flex;
    justify-content: space-between;
}



.header__navbar__list {
    padding-left: 0;
    list-style: none;
}



.header__navbar__item {
    min-height: 1.8rem;
    margin: 0 8px;
    position: relative;
}



.header__navbar__item, .header__navbar__link {
    display: inline-flex;                               /* align center text and icon */
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}



.item--seperate::after {                                /* display '|' after text */
    height: 1.6rem;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    border-left: 2px solid rgba(var(--separate_color));
}



.item--blink:hover .header__navbar__link,               /* hover effect */
.item--blink:hover .header__navbar__icon {              
    opacity: 0.7;
}

.item--blink:hover .header__navbar__subnav {            
    opacity: 1;
}



.header__navbar__item:hover .header__navbar__subnav {   /* display subnav */
    display: block;
} 

.header__navbar__subnav::before {                   /* handle hover subnav */
    content: "";
    display: block;
    width: 18.6rem;
    height: 2rem;
    position: absolute;
    right: 0;
    top: -5%;
}

.subnav--upArrow::before {  /* create up arrow */
    content: "";
    width: 0rem;
    position: absolute;
    right: 1.8rem;
    top: -4.6rem;
    border-width: 1.8rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.subnav--upArrow::after {   /* bridge to hover*/
    content: "";
    display: block;
    height: 2rem;
    width: 9rem;
    position: absolute;
    right: 0;
    top: -4%;
}



.header__navbar__icon {
    margin: 0 4px;
    font-size: 1.6rem;
    color: white;
}



.header__navbar__QR {
    display: none;
    width: 18.6rem;
    position: absolute;
    top: 140%;
    left: 0;
    padding: 0 6px;
    border-radius: 3px;
    background-color: white; 
    animation: fadeIn ease .5s;
}

.header__navbar__QR img {
    width: 17.6rem;
}

.header__navbar__apps img {
    width: 7rem;
    margin: 2px 0 2px 9px;
}



.header__navbar__noti {
    display: none;
    width: 41rem;
    position: absolute;
    top: 140%;
    right: 0;
    color: black;
    background-color: white;
    border: 1px solid rgb(var(--greyish_color));
    border-radius: 3px;
    transform-origin: 100% top;
    animation: noti_appear ease-in .2s;
    will-change: transform opacity;     /*optimize*/
}



.header__navbar__noti__header {
    height: 4rem;
}

.header__navbar__noti__header span {
    margin: 1rem;
    line-height: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(var(--greyish_color));
    user-select: none;
}



.header__navbar__noti__contents {
    background-color: rgba(var(--primary_color), 0.1);
}



.header__navbar__noti__item {
    display: flex;
    padding: 0 1rem;
    text-decoration: none;
}

.header__navbar__noti__item:hover {
    background-color: rgba(var(--greyish_color), 0.3);
}

.noti__item--viewed {
    background-color: white;
}

.header__navbar__noti__item img {
    width: 4rem;
    height: 50%;
    margin-top: 1.5rem;
}

.header__navbar__noti__text {
    margin-left: 1rem;
    color: black;
}

.header__navbar__noti__title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar__noti__desc {
    margin-top: 1rem;
    color: var(--text_color);
    font-weight: 100;
}



.header__navbar__noti__btn {
    height: 4rem;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.header__navbar__noti__btn:hover {
    background-color: rgba(var(--greyish_color), 0.3);
}

.header__navbar__noti__btn span {
    margin: auto;
    font-size: 1.5rem;
    color: var(--text_color);
}




/* ---------------------------- HEADER ---------------------------- */



